.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

.home-page {
  width: 100vw;
  border: 1px solid orange;
}

.header {
  width: 100%;
  border: 1px solid lightblue;
}

.search-bar input {
  width: 100%;
  border: 1px solid green;
  height: 5vh;
}

.list {
  border: 1px solid purple;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
}

img {
  border-radius: 50%;
  border: 1px solid black;
  margin: 0px 50px;
  height: 15vh;
}

.list-item h4 {
  color: grey;
}

/* EmployeePage */

.employee-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
}

.contact{
  width: 50%;
  border: 2px solid grey;
}
.contact h2{
  margin-left: 10px;
  text-align: left;
  color: grey;
}

.contact h1 {
  margin-left: 10px;
  text-align: left;
}